h2{
	color:rgb(0,0.76,0,0.6);	
	font-variant: small-caps;
	background-color: #09F50A
}
nav{
		background: #B3B3B3;
		font-style: normal;
		font-size: 200%;
		text-align: center;


}
header{
			background: #B3B3B3;

}
footer{
			background: #B3B3B3;

}
